<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
 <div class="main w-full min-h-screen bg-zinc-800 p-8 text-white">
    <a class="text-blue-500 inline-block mb-10" href="/">go back to home</a>


        <form action="/edit" method="post">
            <input class="bloack w-1/4 rounded-md outline-none bg-zinc-700 text-white p-3 mb-2" type="text" placeholder="previous name" name="previous" value="<%=filename%>">
            <input class="block w-1/4 rounded-md outline-none bg-zinc-700 text-white p-3" placeholder="new name" name="new"></input>
            <input class="mt-3 bg-blue-300 p-1 rounded" type="submit" value="edit filename">
        </form>

</div>
</body>
</html>